.foodImg{
    margin: 10px;
    
}

#textBlock{
    border: 2px solid black;
    background-color: lightgray;
}

.food-images-container{
    border: 3px dotted black;
    background-color: lightcoral;
    height: 100px;
}

.panierIcon{
    border: 2px solid black;
    background-color: cyan;
}

.nav-icon-menu{
    border: 3px solid black;
    background-color: aqua;
}

.titreMenu{
    background-color: lightpink;
    border: 2px solid black;
}

#menu{
    background-color: lightpink;
    border: 2px solid black;
}

#body {
    background-image: url('images/Sugar_Cube_Corner.jpeg');

}
#updatePanier{
    border: 2px solid black;
    padding: 10px;
    background-color: lightpink;
}

.prixPanier{
    margin: 10px;
    border: 2px solid black;
    background-color: lightpink;
}

.pinkie{
    background-color: lightpink;
    border: 2px solid black;
}
